
.btn-cases {
    background-color: #FCD733;
    text-align: center;
    padding: 14px 48px;
    color: #0C0C0D;
    border: 1px solid #FCD733;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 36px;
}
.btn-send {
    background-color: #FCD733;
    text-align: center;
    padding: 14px 48px;
    width: 100%;
    color: #0C0C0D;
    border: 1px solid #FCD733;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 16px;
}
.btn-cases:hover {
    box-shadow: 0px 0px 12px rgba(252, 215, 51, 0.25);
}
#menu-button a {
    color: #4F51CD;
}
.promo {
    margin-top: 120px;
    max-width: 100%;
    background-image: linear-gradient(180deg, transparent 88%, rgba(0, 0, 0, 0.3)), url(/assets/img/promo/promolines.png), url(/assets/img/promo/promobg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, right, center;
    background-size: cover, contain, cover;
}
.promo-content {
    max-width: 1320px;
    height: 630px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
}

.promo-left {
    max-width: 860px;
    flex: 1;
    height: 582px;
    display: flex;
    align-items: center;
}
.promo-left-texts {
    max-width: 630px;
    width: 100%;
}
#stack {
    width: 100%;
}
.text-code {
    padding-top: 2px;
    display: flex;
    flex-wrap: wrap;
}
.text-code img {
    padding: 0px;
}
.typed {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 570;
    font-size: 50px;
    line-height: 65px;
    min-height: 132px;
    margin-left: 30px;
}
.typed::after {
    content: "|";
    display: inline;
    animation: blink 1s infinite;
    color: #35d1e9;
}
.promo-right {
    max-width: 420px;
    flex: 1;
    height: 582px;
    background-image: url(/assets/img/promo/promo-phone.png);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    align-items: flex-start
}


@media (max-width: 1320px) {
    .marquee {
        display: block;
    }
    .brands-logo {
        display: none;
    }
}

@media (max-width: 1380px) {
    .promo-content {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 992px) {
    .promo-content {
        height: 800px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .promo-left {
        width: 100%;
        max-width: 650px;
        height: 400px;
        margin: 0 auto;
    }
    .typed {
        margin: 10px 0;
    }
    .promo-right {
        width: 100%;
        max-height: 300px;
        // margin-bottom: 48px;
        background-size: contain;
    }
    .promo {
        background-image: linear-gradient(180deg, transparent 88%, rgba(0, 0, 0, 0.3)), url(/assets/img/promo/promobg.jpg);
        background-repeat: no-repeat, no-repeat;
        background-position: center, center;
        background-size: cover, cover;
    }
}
/*-----------------Mobile 768-320----------*/
@media (max-width: 768px) {
    .typed {
        margin: 10px 0;
        font-size: 36px;
        line-height: 40px;
    }
    .text-code img {
        padding-bottom: 4px;
    }
    .brands {
        flex-direction: column;
        padding: 24px 0;
        gap: 20px;
    }
    .brands-text {
        font-size: 14px;
        max-width: 100%;
        border-right: none;
        text-align: center;
        margin: 0 auto;
    }
    .btn-cases {
        width: 100%;
    }
}
